<div class="ipSearchPanel">
    <h2>Поиск по IP адресу</h2>
    <div class="form-group ipWrapper">
        <label for="ipInput">IP адрес: </label>
        <input class="form-control ipInput" id="ipInput" placeholder="XXX.XXX.XXX.XXX" maxlength="15">
    </div>
    <button class="btn btn-warning ipFindButton">Поиск</button>
    <div class="ipResults">
        <dl class="dl-horizontal">
            <dt>Country:</dt>
            <dd id="country"></dd>

            <dt>Region:</dt>
            <dd id="region">Bob</dd>

            <dt>Postal:</dt>
            <dd id="postal">Bob</dd>

            <dt>City:</dt>
            <dd id="city">Bob</dd>

            <dt>Organization:</dt>
            <dd id="organization">Bob</dd>

            <dt>Latitude:</dt>
            <dd id="latitude">Bob</dd>

            <dt>Longitude:</dt>
            <dd id="longitude">Bob</dd>
        </dl>
    </div>
</div>