@page
<h2>Тестовое задание MetaQuotes</h2>
<h3>Павел Самойленко</h3>

<div>
    <table>
        <tr>
            <td><strong>Телефон:</strong></td>
            <td><a href="tel:+79650800008">8-965-080-00-08</a></td>
        </tr>
        <tr>
            <td><strong>E-mail:</strong></td>
            <td><a href="mailto:pavelakafoks@gmail.com">pavelakafoks@gmail.com</a></td>
        </tr>
        <tr>
            <td><strong>Skype:</strong></td>
            <td>pavelakafoks</td>
        </tr>
    </table>
</div>